.ulstyle {
  list-style: none;
  display: flex;
  gap: 45px;
  margin-right: 30px;
  /*height: 40px;*/;
  align-items: center;
  border: 1px solid black;
}

.btn {
  color: black;
  text-decoration: none;
  font-size: 1.20rem;
  transition: color 0.2s ease;
  height: 40px;
  display: flex;
  align-items: center;
}

.btn:hover {
  color: #ff9800;
}

.btn3 {
  border-radius: 10px;
  border: 1px solid #ff9800;
  font-size: 16px;
  padding: 10px;
}

.btn3:hover {
  background-color: #ff9800;
  color: white;
}