.hero__section {
    display: flex;
    width: 100%;
    /* height: 400px; */
    min-height: 45vh;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
}

.hero__title {
    font-weight: 800;
    color: rgb(32, 35, 41);
    margin-top: 20px;
}

@media (max-width: 1191px) {
    .hero__title {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 890px) {
    .hero__title {
        justify-content: center;
        text-align: center;
        font-size: 4.2rem;
    }
}