.cards__section {
    display: flex;
    width: 100%;
    min-height: 650px;
    height: auto;
    background-color: #272b33;
    padding: 4.5rem 0;
}

/* .cards__section__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
} */

.cards__section__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1920px;
    justify-content: center;
}