.hero__section {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
}

.hero__title {
    font-weight: 800;
    color: rgb(32, 35, 41);
    margin-top: 20px;
}