.character-card {
    display: flex;
    background-color: rgb(60, 62, 68);
    max-width: 600px;
    margin: 15px;
    height: 220px;
    border-radius: 0.5rem;
    flex: 0 1 600px;
}

.characterCard__Img {
    display: block;
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.characterCard__ImgWrapper {
    width: 220px;
}

.characterCard__ContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    width: 100%;
    flex: 1;
}

.section {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 0.95rem;
}

.section a {
    text-decoration: none;
    color: inherit;
}

.section a:hover {
    color: #ff9800;
}

.section span {
    color: #9e9e9e;
}

.section--top {
    font-size: 1rem;
}

.section--top h2 {
    font-weight: 800;
}

.section--top span {
    color: white;
}

.status {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.status__indicator {
    display: flex;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #9e9e9e;
    margin-top: 5px;
}

.bg-green-500 { background-color: #55cc44; }
.bg-red-500 { background-color: #d63d2e; }
.bg-gray-400 { background-color: #9e9e9e; }