.character-card {
    display: flex;
    background-color: rgb(60, 62, 68);
    /* max-width: 500px;
    width: 100%; */
    width: 600px;
    height: 220px;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-top: 10px;
}

.characterCard__Img {
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.characterCard__ContentWrapper {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    width: 100%;
}