.header {
  width: 100%;
  height: 55px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 440px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
}