.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202329;
    width: 100%;
    height: 405px;
    padding-top: 80px;
}

.footer__stats {
    display: flex;
    gap: 30px;
    list-style: none;
}

.footer__stats-item a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #9e9e9e;
}

.server-status {
    display: flex;
    margin-top: 10px;
}

.server-status__text {
    font-size: 14px;
    font-weight: 700;
    color: #9e9e9e;
}

.server-status__indicator {
    width: 10px;
    height: 10px;
    background-color: #4caf50;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
}